#name_of_project {
    font-size:  36px;
    font-family: fantasy;
    letter-spacing: 8px;
    color:#242323;
    text-align: center;
    background-color: #f1b100;
    height: 15%;
    padding-top: 30px;
    text-transform: uppercase;
    margin: 1px;
    transition: all 1.5s ease;
}
#title_authors {
    font-size:  36px;
    font-family: fantasy;
    letter-spacing: 8px;
    color:#242323;
    text-align: center;
    background-color: #d3cbbc;
    height: 15%;
    padding-top: 30px;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 1.5s ease;
}
#authors {
    height: 15%;
    display:flex;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}


#aut1, #aut2, #aut3 {
    margin: 1px;
    font-size:  36px;
    font-family: fantasy;
    letter-spacing: 8px;
    color:#242323;
    padding-top: 30px;
    font-size: 28px;
    line-height: 1.33;
    text-transform: uppercase;
    background-color: #f5de7a;
    transition: all 1.5s ease;
    border: 0;
    letter-spacing: 8px;
    text-align: center;
    
    
    }

#aut1:hover,#aut2:hover, #aut3:hover, #title_authors:hover, #name_of_project:hover {
    color: #262427;
    background-color: #df7a07;
    outline: none;
}
#btn2 {
    display:flex;
    /* margin-left: 110px;
    margin-right: 110px; */
    margin-top: 10px;
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#btn_csv, #btn_json, #btn_xml {
    /* width: 350px; */
    height: 75%;
    width: 80%;
    
    background-color: #000000f1;
    transition: all 1s ease; 
    border-radius: 20px;
    font-size: 26px;
    font-family:fantasy;
    letter-spacing: 8px;
    color: rgb(255, 192, 45);
    margin-top: 80px;
    margin-left:10%;
    
}
#btn_csv:hover, #btn_json:hover, #btn_xml:hover, 
#btn_csv:focus, #btn_json:focus, #btn_xml:focus {
    color: rgb(255, 255, 251);
    background-color: #0000005d;

    outline: none;
    border: 0;
}
#char1, #char2 {
    font-size: 18px;
    text-align: center;
}
canvas {
    margin-left: 70px;
    max-width: 90%;
    max-height: 900px;
}

table {
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    color: rgb(57, 56, 58);
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;

}
thead {
    width: 100%;
    background-color: #ffbf36;
    font-size: 20px;
}
tbody {
    width: 100%;
}
th {
    padding: 12px;
    background-color: #ffbf36;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    border: 5px solid rgb(253, 243, 211);
    font-weight: bold;
    
}
td {
    padding: 6px ;
    border: 5px solid rgb(253, 243, 211);
    font-weight: bold;
}
 tbody tr:nth-child(odd) {
    background-color: rgb(253, 243, 211);
}
 tbody tr:nth-child(even) {
    background-color: rgba(255, 227, 141, 0.912);
}
 tbody tr:hover {
    color: rgb(226, 228, 222);
    background-color: rgba(32, 32, 31, 0.609);
    transition: all 0.5s ease
}
#main_body2, #main_body3, #main_body1 {
    display: none;
}
/* ------------------FOOTER------------------------------ */
footer {
    margin-top: 20%;
    height: 150px;
    width: 100%;
    background-color: #6c6c6c51;
    margin-bottom: 0;
    position:absolute;
}